/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/js/app.js
/resources/js/app.js.LICENSE.txt
/public/build
/public/css
/public/js
/public/mix-manifest.json
storage/
bootstrap/cache/